#cards-grid {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 400px;
  border: 1px black solid;
  perspective: 1000px;
}

.card {
  flex-basis: 33.3%;
  position: relative;
  /* :hover {
    transform: rotateY(180deg);
    transition-property: transform;
    transition-duration: 1s;
  } */
  transition-property: transform;
  transition-duration: 1s;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateY(180deg);
}

.front_face,
.back_face {
  position: absolute;
  backface-visibility: hidden;
  top: 0px;
  left: 0px;
}

.front_face {
  transform: rotateY(180deg);
}
img {
  width: 100%;
}
